.signup-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-name{
    text-align: center;
}

input{
    padding: 10px 30px;
    margin: 9px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

input#mobile, input#email{
    width: 82%
}

button{
    margin: 10px 10px;
    padding: 12px 78px
}

.register{
    background-color: #4f83bb;
    border:none;
    border-radius: 5px;
    color: white;
}

.sign-in{
    background-color: #4b953e;
    border: none;
    border-radius: 5px;
    color: white;
}





